.partial[data-partial="debug"] {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  .direction {}
  padding: calc(5 / 16)rem;
  font-size: calc(20 / 16)rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
}
