.partial[data-partial="debug"] {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  .direction {}
  padding: calc(5 / 16)rem;
  font-size: calc(12 / 16)rem;
  line-height: 1.4;
}
