.partial[data-partial="offset"] {

position: absolute;
left: 0;
bottom: 0;
border-top: solid #cccccc 1px;
border-right: solid #cccccc 1px;
padding: 10px;

background: white;

[type="button"] {
  display: block;
  margin-top: 10px;
  width: 100%;
}


}
