.partial[data-partial="test-cases"] {

  background: #000000;
  position: fixed;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;

  &, * {
    cursor: pointer;
    user-select: none;
  }

  .reset {
    position: absolute;
    bottom: 4%;
    right: 4%;
    color: #00ff00;
    text-decoration: none;
  }
}
