---

---
<div class="partial controller" data-partial="debug" data-controller="./partials/Debug">

  <span class="direction" data-hook="direction"></span>
  <span class="value" data-hook="value"></span>

</div>
