---

---
<div class="pkg controller" data-pkg="agency-pkg-gyro/debug" data-controller="agency-pkg-gyro/debug">

  <span class="direction" data-hook="direction"></span>
  <span class="value" data-hook="value"></span>

</div>
