---

---
{{#mixin "agency-pkg-gyro/indicator" this}}
  {{#content "attributes"}}
    class="pkg controller"
    data-pkg="agency-pkg-gyro/indicator/bar-center"
    data-controller="agency-pkg-gyro/indicator/bar-center"
  {{/content}}
  {{#content "content"}}
    <span class="bar center" data-hook="bar"></span>
  {{/content}}
{{/mixin}}
