@import "../../src/common/variables.pcss";
@import "../../src/view/index.pcss";
@import "../../src/views/index.pcss";
@import "../../src/debug/index.pcss";
@import "../../src/background/index.pcss";
@import "../../src/indicator/index.pcss";
@import "../../src/indicator/bar-center/index.pcss";
@import "agency-pkg-docs";

html {
  &, body {
    margin: 0;
    height: 100%;
  }
}
