@import "./variables.pcss";

html {
  &, body {
    margin: 0;
    height: 100%;
  }
}

@import "./partials/debug.pcss";
@import "./partials/background.pcss";
@import "./partials/horizontal-segments/views.pcss";
@import "./partials/horizontal-segments/views/view.pcss";
@import "./partials/horizontal-segments/indicator.pcss";
@import "./partials/horizontal-segments/indicator/bar-center.pcss";
@import "./partials/horizontal-segments/background.pcss";

@import "./partials/test-cases.pcss";
@import "./partials/test-cases/vertical-stripe.pcss";
@import "./partials/test-cases/horizontal-stripe.pcss";

@import "./partials/test-cases/pendulum.pcss";
@import "./partials/reset.pcss";

@import "./partials/offset.pcss";
