@import "../../src/common/variables.pcss";
@import "../../src/view";
@import "../../src/views";
@import "../../src/debug";
@import "../../src/background";
@import "../../src/indicator";
@import "../../src/indicator/bar-center";
@import "agency-pkg-docs";

html {
  &, body {
    margin: 0;
    height: 100%;
  }
}
