$agency_pkg_docs_color_link_primary: #333333;
$agency_pkg_docs_color_link_primary_hover: #ff3344;
$agency_pkg_docs_color_link_secondary: #5588ff;
$agency_pkg_docs_color_link_secondary_hover: #ff3344;

$agency_pkg_docs_menu_width: 30;
$agency_pkg_docs_menu_width_min: 18;
$agency_pkg_docs_menu_width_max: 30;
