---

---
<div{{#block "attributes"}} class="pkg controller" data-pkg="agency-pkg-gyro/indicator" data-controller="agency-pkg-gyro/indicator"{{/block}}{{#if target}} data-target="{{target}}"{{/if}}>
  {{#block "content"}}
    <span class="bar" data-hook="bar"></span>
  {{/block}}
</div>
