.pkg[data-pkg="agency-pkg-gyro/views"] {
  position: fixed;
  top: 0;
  left: 0;
  border: solid #cccccc;
  border-width: 0px 1px 0px 1px;
  width: 100%;
  height: 100%;
  >.list {
    height: 100%;
  }
  * {
    user-select: none;
  }
}
