---

---
<div class="partial controller" {{#block "attributes"}} data-partial="test-cases/pendulum" data-controller="./partials/testCases/Pendulum" {{/block}}>
  <span data-hook="rotate">
    <span>
      <span></span>
    </span>
  </span>
</div>
