---
background:
  target
---
<div class="partial controller"{{#block "attributes"}} data-partial="test-cases/stripe" data-controller="./partials/testCases/Stripe"{{/block}}>
  {{#block background}}
    {{{mixin "test-cases/background" background}}}
  {{/block}}
</div>
