---
index: -1
---
<div class="pkg controller agency-pkg-gyro-view-{{index}}" data-pkg="agency-pkg-gyro/views/view" data-controller="./partials/views/View" data-index="{{index}}">

  {{{mixin "agency-pkg-gyro/indicator/bar-center" target=(replace ".agency-pkg-gyro-view-index" "index" index)}}}

  <span class="bar left" data-hook="barLeft"></span>
  <span class="bar right" data-hook="barRight"></span>
  <span class="info" data-hook="info"></span>

</div>
